{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>

    <div class="card mt-3">
        <div class="card-body">
            <form action="{% url 'add-income' %}" method='POST' class="d-grid gap-3">
                {% include 'partials/_messages.html' %}
                {% csrf_token %}
                <div class="form-group ">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm mt-1" name="amount" value="{{ values.amount }}">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}">
                </div>
                <div class="form-group">
                    <label for="">Source</label>
                    <select class="form-control" name="source" id="">
                        {% for source in sources %}
                            <option value="{{ source.name }}">{{ source.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Income</label>
                    <input type="date" class="form-control form-control-sm" name="income_date" value="{{ date | date:'Y-m-d' }}">
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}